@import "src/theme/theme-variables";
@import "src/theme/theme-mixins";

/*
*
*   up = utilities panel
*
*/

header {

  h1 {

    @include h__h1--large-thin-white;

  }

  &.up__large {

    height: 280px;
    width: 100%;
    @include g__main--green;
    margin: 4.02em 0 0 0;
    padding: 1em 1.5em;

    ul {

      margin: 0;
      padding: 0;

      li {

        margin: .5em .4em;
        display: inline-block;

        a {

          color: $f--white;
          text-decoration: none;

        }

      }

    }

  }

}

.temp-btn {

  position: fixed;
  top: 2.5em;
  left: calc(86% - 150px);
  z-index: 200;
  width: 300px;
  height: 59px;
  border-radius: 2em;
  @include g__main--green;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
}

/** Standard Card */
.mat-card {
  position: relative;
  height: 13rem;
  margin:2rem 1rem;
  padding:0;
  background: none;
  overflow: hidden;
  border-radius: 2rem;
  -webkit-transition: ease-in .04s;
  -moz-transition: ease-in .04s;
  -ms-transition: ease-in .04s;
  -o-transition: ease-in .04s;
  transition: ease-in .04s;

  cursor: pointer;

  -webkit-animation-name: miniCard;
  animation-name: miniCard;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  &:hover {

  }

  &.active {


    @-webkit-keyframes miniCard {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }

    @keyframes miniCard {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }

    position: fixed;
    z-index: 999;
    overflow: visible;
    top: 8em;
    left: 1em;


    &:before {
      content: '';
      height: 5000px;
      width: 5000px;
      position: fixed;
      top: -1000px;
      left: -100px;
      z-index: -5;
      /* Lush */
      //background: #56ab2f;
      //background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
      //background: linear-gradient(to right, #a8e063, #56ab2f);
      background: #f3f3f3;
    }

    &:after {
      display: none;
      content: '';
      height: 5000px;
      width: 5000px;
      position: fixed;
      top: -1000px;
      left: 110px;
      background: #fff;
      z-index: -5;
    }

    .card--image {


      -webkit-animation-name: miniCard;
      animation-name: miniCard;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;

      img {

        height: 500px;
        width: auto;

      }
    }

    .feature-1 {
      height: auto;
      width: 100%;
      margin: -132px 0 0 0;
      height: auto;
      width: auto;
      margin: -132px 0 0 0;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      border-radius: 3em;

    }

    .mat-card-header {

      h3 {

        margin: -3em 0 0 .2em;


        -webkit-animation-name: miniCard;
        animation-name: miniCard;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

      }

    }
  }

  .card--image {

    position: absolute;
    z-index: -1;
    height: 360px;
    width: 400px;
    overflow: hidden;
    background: #fff;

    img {
      transition: .04s;
      max-height: 1000px;
      height: auto;
      width: 100%;
      max-width: 1000px;
    }

  }

  .card--bg-color {
    //position: absolute;
    //height: 305px;
    //width: 223px;
    //z-index: 1;
    //top: 0;
    //left: 41%;
    //background: rgba(255, 255, 255, 0.1);
    //transform: rotate(0deg);
    //box-shadow: -73px 31px 97px 59px rgba(255, 255, 255, 0.9) inset;

  }

  .feature-1 {
    height: auto;
    width: 100%;
    margin: -132px 0 0 0;
  }

  &:hover {
    img {

    }
  }

  .mat-chip-list {
    .mat-chip {
      background: #fff;
    }
  }

  .mat-card-header {

    h3 {
      margin: .45em 0 0 .2em;
      font-weight: bold;
      text-align: left;
      font-size: 2.2rem;
      text-shadow: 0px 3px 0px rgba(155,155,155,.4), 0px 2px 0px rgba(155,155,155,0.4), 0px -1px 4px rgba(155,155,155,0.9);
      color: #fefefe;
    }



  }

  .mat-card-content {
    margin: .6em 0 0 2em;
    text-align: left;
    color: #fff;
  }

  .mat-card-actions {
    padding:10px;

    a {
      text-decoration: none;

      button {
        background: #76b852;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff;
        background:#0575E6;
      }
    }


  }
}

/** Featured Card */
.mat-card.feature {
  display: none;
  position: relative;
  z-index: -2px;
  height: 13rem;
  margin:2rem 1rem;
  padding:0;
  background: none;
  overflow: hidden;
  border-radius: 2rem;

  &:nth-child(5n-4) {
    background-image: linear-gradient(-35deg, #B31919 3%, #FB8332 94%);
  }

  &:nth-child(5n-3) {
    background-image: linear-gradient(-35deg, #9119B3 0%, #E64C4C 88%);
  }

  &:nth-child(5n-2) {
    background-image: linear-gradient(-35deg, #4E2BCC 3%, #B620E0 100%);
  }

  &:nth-child(5n-1) {
    background-image: linear-gradient(-35deg, #289DCC 3%, #815EFF 94%);
  }

  &:nth-child(5n-0) {
    background-image: linear-gradient(-35deg, #36AC91 3%, #5AD0FF 94%);
  }

  .card--image {

    position: absolute;
    top: -10%;
    height: 360px;
    width: 400px;
    overflow: hidden;
    background: #fff;

    img {
      transition: .04s;
      max-height: 1000px;
      height: auto;
      width: 100%;
      max-width: 1000px;
    }

  }

  .feature-1 {
    left: -25%;
    height: 260px;
    width: 260px;
    border-radius: 100%;
  }

  &:hover {
    img {

    }
  }

  .mat-chip-list {
    .mat-chip {
      background: #fff;
    }
  }

  .mat-card-header {

    h3 {
      padding:.4em 0 0 0;
      margin: 0;
      color: #fff;
      font-size: 2rem;
      font-weight: bolder;
      text-shadow: 0 1px 0 #ccc, 0 1px 0 #111, 0 1px 0 #333, 0 1px 0 #333, 0 1px 0 #333, 0 4px 1px #333;
      text-align: left;
    }
  }

  .mat-card-content {
    margin: .6em 0 0 2em;
    text-align: left;
    color: #fff;
  }

  .mat-card-actions {
    padding:10px;

    a {
      text-decoration: none;

      button {
        background: #76b852;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff;
        background:#0575E6;
      }
    }


  }
}










