
// Stepper
mat-horizontal-stepper {

  max-width: 100%;
  margin: .3rem auto 0 auto;

  form {

    max-width: 70vw;
    margin: 0 auto;
    min-width: 990px;

    section.lf-stepper-wrap {

      position: relative;

      div {


      }

      article {

        mat-card {

          &.mat-card {
            padding: 0;
            margin: 125px 0 3rem 0;
            min-height: 500px;
            background: #fff;
            border-radius: 20px;
          }


          &.lifestyle__card {


            aside {

            }

          }

          &.environment__card {


            aside {


            }

          }

          &.animal__card {


            aside {


            }

          }

          &.food__card {


            aside {



            }

            footer {

              button {

                &:nth-child(2) {

                    padding: 0;

                  a {

                    text-decoration: none;

                  }
                }
              }

            }

          }



          aside {

            padding: 0 1.4rem;
            text-align: left;
            color: #555;
            font-size: 1.1rem;
            //border-bottom: solid 67px rgba(0,0,0,.3);

            header {

              //background: #4eb2bf;

              span {

                &.logo__L--small {

                  margin: .6rem 0rem .6rem 1.3rem;

                }

              }

              h1 {

                margin: 1rem 0 0 0;
                font-size: 1.4rem;

                &:first-child {

                  color: #555;

                }

                &:nth-child(2) {

                  color: #83A340;

                }

              }

            }

            i {

              font-size: 5rem;
              color: #8fc23e;

            }

          }

          section {

            header {

              min-height: 6rem;
              margin: 0 1rem;

              p {
                min-height: 2.4rem;
                //border: blue solid;
                margin: 0;
              }

              .mat-radio-group {
                min-height: 3rem;
                //border: red solid;

                .mat-radio-button {

                  padding: .5rem;

                }

              }

            }

            li {

              //border: blue solid 1px;

              span {

                //border: red solid 1px;

              }

            }
            &.lifestyle__form {

              margin: 1rem;

              .mat-checkbox {

                // border:#f3f3f3 solid 1px !important;

                label.mat-checkbox-layout {

                }

                .mat-checkbox-label {
                  flex: 1 1;
                  box-sizing: border-box;
                  place-content: center flex-start;
                  align-items: center;
                  flex-direction: row;
                  display: flex;
                  min-height: 3rem;
                }



              }

              section {

                min-height: 2rem;
                text-align: left;


                &.form--gender {

                  span {

                    //min-height: 3rem;

                  }

                }

                &.form--health {

                  span {

                    min-height: 3rem;

                  }

                }

                mat-radio-button {

                  padding: .5rem;

                }

                mat-checkbox {

                  padding: .2rem 0.5rem;
                  float: left;

                }

              }

            }

          }

        }

      }

      footer {

        padding: .1rem;
        margin: 1rem 0 0 0;
        background: #fff;

        button {

          &.stepper-next {


          }

          &.stepper-back {

            //@extend .stepper-next;


          }

        }

      }

    }

  }

}















