<mat-toolbar class="mat-elevation-z4" *ngIf="authenticated" style="overflow: hidden;">
  <span>
    <img src="../assets/stripes.png" alt="" style="    position: absolute;
    left: -49px;
    top: -251px;
    z-index: -1;">
    <a href="/">
      <img src="../assets/logo.svg" width="20%" height="auto" alt="Leafstyl Logo"
           style="margin:7px 0 0 47px;min-width: 190px;">
    </a>
  </span>
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let item of menuItems"
       [routerLink]="item.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{item.caption}}
    </a>
    <a mat-tab-link (click)="signOut.emit()">Log Out</a>
  </nav>
</mat-toolbar>
