<!--
<mat-card>
  <h1>Biometrics</h1>
  <form class="biometrics-form" *ngIf="biometrics">
    <fieldset class="biometrics-fieldset" [attr.disabled]="!editing?'':null">
      <mat-form-field class="biometrics-form-field">
        <input matInput name="age" placeholder="Age" autocomplete="off" type="number" [(ngModel)]="biometrics.age" autofocus>
      </mat-form-field>
      <mat-form-field class="biometrics-form-field">
        <mat-select name="gender" placeholder="Gender" [(ngModel)]="biometrics.gender" [disabled]="!editing?'':null">
          <mat-option>None</mat-option>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="biometrics-form-field">
        <input matInput name="height" placeholder="Height" autocomplete="off" type="text" [(ngModel)]="biometrics.height">
      </mat-form-field>
      <mat-form-field class="biometrics-form-field">
        <input matInput name="weight" placeholder="Weight" autocomplete="off" type="number" [(ngModel)]="biometrics.weight">
      </mat-form-field>
      <mat-form-field class="biometrics-form-field">
        <input matInput name="cholesterol" placeholder="Cholesterol" autocomplete="off" type="number" [(ngModel)]="biometrics.cholesterol">
      </mat-form-field>
      <mat-form-field class="biometrics-form-field">
        <input matInput name="bloodPressure" placeholder="Blood Pressure" autocomplete="off" [(ngModel)]="biometrics.bloodPressure">
      </mat-form-field>
    </fieldset>
  </form>
  <div class="biometrics-button-bar">
    <button title="Edit" (click)="editBiometrics()" *ngIf="!editing">
      <span class="material-icons">edit</span>
    </button>
    <button title="Save" (click)="saveBiometrics()" *ngIf="editing">
      <span class="material-icons">done</span>
    </button>
    <button title="Cancel" (click)="cancelEdit()" *ngIf="editing">
      <span class="material-icons">&#xe14c;</span>
    </button>
  </div>
</mat-card>
-->

<mat-vertical-stepper>
  <mat-step label="Step 1">
    Content 1
  </mat-step>
  <mat-step label="Step 1">
    Content 2
  </mat-step>
</mat-vertical-stepper>
