
// Stepper
mat-horizontal-stepper {

  max-width: 100%;
  margin: .3rem auto 0 auto;

  &.mat-stepper-horizontal {

    background: none;

  }

  form {

    max-width: 70vw;
    margin: 0 auto;

    section.lf-stepper-wrap {

      position: relative;

      div {

        min-height: 3rem;
        //background: #ccc;
        //border-radius: 10px;

      }

      article {

        padding-top: 1rem;

        .environment__card {


          header {

            background: #889E49;

          }

        }

        .animal__card {


          header {

            background: #965C26;

          }

        }

        .food__card {


          header {

            background: #CC4E4E;

          }

        }

        header {

          background: #4eb2bf;

          span {

            &.logo__L--small {

              margin: .6rem 0rem .6rem 1.3rem;

            }

          }

          h1 {

            margin: .7rem 1.2rem;
            color: #fff !important;

            &:first-child {

              color: #FFB630;

            }

            &:nth-child(2) {

              color: #83A340;

            }

          }

        }

        mat-card {

          &.mat-card { padding: 0; }

          &.lifestyle__card {


          }

          &.environment__card {


          }

          aside {

            // background: #90c8be;
            // border-right: 1px solid #999;
            // background: url(../../../../assets/graphic__bike.png) 50% 90%;
            background-size: 70%;
            background-repeat: no-repeat;

            i {

              font-size: 5rem;
              color: #8fc23e;

            }

          }

          .lifestyle__form {

            padding: 1rem 0;

            section {

              min-height: 2rem;
              text-align: left;


              &.form--gender {

                span {

                  //min-height: 3rem;

                }

              }

              &.form--health {

                span {

                  min-height: 3rem;

                }

              }

              mat-radio-button {

                padding: .5rem;

              }

              mat-checkbox {

                padding: .2rem 0.5rem;
                float: left;

              }

            }

          }

        }

      }

      footer {

        margin: 2.7rem 1rem;
        background: #fff;

        button {

          &.stepper-next {


          }

          &.stepper-back {

            //@extend .stepper-next;


          }

        }

      }

    }

  }

}















