
.biometrics-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.biometrics-fieldset {
  border: 0;
}

.biometrics-form-field {
  width: 100%;
}

.biometrics-button-bar {
  margin-left:15px;
}