//@import '~@angular/material/theming';
//@import url('https://fonts.googleapis.com/css?family=Open+Sans');
//@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700');
//
//@include mat-core();

// Primary Color

// Secondary Color

// Tertiary Color

// Danger Color

// Warning Color

// Gray Colors

// Font Colors

// Typography
//$general-typography: mat-typography-config(
//  $font-family: '"Open Sans", sans-serif',
//  $body-2: mat-typography-level(15px, 24px, 400)
//);
//
//$secondary-typography: mat-typography-config(
//  $font-family: '"Lato", sans-serif;'
//);


// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
//$my-theme-primary: mat-palette($mat-indigo, 700, 300, 900);
//$my-theme-accent: mat-palette($mat-light-blue);
//$my-theme-warn: mat-palette($mat-deep-orange, A200);
//
// create theme (use mat-dark-theme for themes with dark backgrounds)
//$my-theme: mat-light-theme(
//    $my-theme-primary,
//    $my-theme-accent,
//    $my-theme-warn
//);


/* Pallet Generator --> http://mcg.mbitson.com/#!?mcgpalette0=%236db62d&mcgpalette1=%23e5773c&mcgpalette2=%23edad43&themename=dopefranais*/

// LS Colors
$ls-red: #AD0202;
$ls-green: #83A340;
$ls-brown: #A86839;
$ls-purple: #9956B2;

// LB Colors
$lb-green: #8BC34A;

$f--white: #f3f3f3;








