body {

  margin: 0;
  font-family: 'Lato', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {

  margin: 0;
  font-family: 'Lato', sans-serif;

}

p,
a,
span,
.mat-card {

  font-family: 'Lato', sans-serif;

}


.mat-tab-label,
.mat-tab-link {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #4E4E4E;
}

main {
  padding: 0;

}

.mat-tab-nav-bar, .mat-tab-header {
  border: none;
}

mat-card {
  max-width: 38rem;
  margin: 0em auto;
  text-align: center;
}

.mat-toolbar.mat-primary {
  background: #fff;
  background: #575757;
  color: mat-color($candy-app-primary);
  //background-color: none;
  //box-shadow: none;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  // height: 1px !important;
}

.mat-toolbar {


  box-shadow: none;
  // background: #8a9d42 !important;
  // background: #8BC34A !important;

  &:after {
    display: none;
    content: '';
    height: 280px;
    width: 4000px;
    position: absolute;
    bottom: -280px;
    z-index: -1;
    left: 0;
  }

}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

/* This must be in styles.scss */

.mat-horizontal-content-container {
  margin: 32px 0 0 0;
}
.mat-horizontal-stepper-header-container {

  position: absolute;
  top: 0;
  z-index: 9999;
  background:#fff;
  margin: 0px auto;
  padding: 0 20%;
  width: 60%;

  .mat-step-icon {

    span {
      visibility: hidden;
    }

    color: #ffffff;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    display: flex;

  }

  /*

  Look, Listen and Observe

  LEAF Badges

   */

  mat-step-header {

    .mat-step-icon-not-touched {

      span {
        visibility: hidden;
      }

    }

    &#cdk-step-label-0-0 {

      .mat-step-icon,
      .mat-step-icon-not-touched {
        &:after {
          content: 'L';
          color: #fff;
          position: absolute;

        }
      }

      .mat-step-icon {

        background-color: #4eb2bf;

      }

      .mat-step-icon-not-touched {

        background-color: #999;

      }
    }

    &#cdk-step-label-0-1 {

      .mat-step-icon,
      .mat-step-icon-not-touched {
        &:after {
          content: 'E';
          color: #fff;
          position: absolute;

        }
      }

      .mat-step-icon {

        background-color: #83A340;

      }

      .mat-step-icon-not-touched {

        background-color: #999;

      }
    }

    &#cdk-step-label-0-2 {

      .mat-step-icon,
      .mat-step-icon-not-touched {
        &:after {
          content: 'A';
          color: #fff;
          position: absolute;

        }
      }

      .mat-step-icon {

        background-color: #e39a2e;

      }

      .mat-step-icon-not-touched {

        background-color: #999;

      }
    }

    &#cdk-step-label-0-3 {

      .mat-step-icon,
      .mat-step-icon-not-touched {
        &:after {
          content: 'F';
          color: #fff;
          position: absolute;

        }
      }

      .mat-step-icon {

        background-color: #B62E86;

      }

      .mat-step-icon-not-touched {

        background-color: #999;

      }
    }


  }


}


//.lifestyle__card
//.environment__card
//.animal__card
//.food__card {

  mat-checkbox {

    //border: solid 1px #e9e9e9;

    .mat-checkbox-label {
      flex: 1 1;
      flex-grow: 1;
      box-sizing: border-box;
      place-content: center flex-start;
      align-items: center;
      flex-direction: row;
      display: flex;
      min-height: 4rem;
    }

    label {
      flex-grow: 1;

      padding-left: 1rem;
      -webkit-transition: background-color .4s ease-out;
      -moz-transition: background-color .4s ease-out;
      -o-transition: background-color .4s ease-out;
      transition: background-color .4s ease-out;


      &:hover {
        // background: #ABE0F3;
        color: $lb-green;
      }
    }



  }

//}


// Dashboard

// edits
.mat-card {

  img {
    max-height: 160px;
    max-width: 160px;
  }
}



