@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700');

@include mat-core();

// Both required
// 1) pallet (required) 2) default color 3) light color 4) dark color
//$custom-primary: mat-palette($mat-light-green, 600);
//$custom-accent:  mat-palette($mat-amber, 100);
$custom-primary: mat-palette($mat-light-green);
$custom-accent:  mat-palette($mat-amber, 100);

// Warning goes here

$custom-theme: mat-dark-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);

// Multiple Theme
// ALTERNATIVE THEME

$alt-primary: mat-palette($mat-yellow);
$alt-accent:  mat-palette($mat-red, 900);

$alt-theme: mat-dark-theme($alt-primary, $alt-accent);

// Have to specify a class
// - This is only ever included if the .alternative is attached to a parent template/container
.alternative {
  @include angular-material-theme($alt-theme);
}


















body {

  margin: 0;
  font-family: 'Lato', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {

  margin: 0;
  font-family: 'Lato', sans-serif;

}

p,
a,
span,
.mat-card {

  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: .03em;

}


.mat-tab-label,
.mat-tab-link {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #4E4E4E;
}

main {
  padding: 0;

}

.mat-tab-nav-bar, .mat-tab-header {
  border: none;
}

mat-card {
  max-width: 38rem;
  margin: 0em auto;
  text-align: center;
}

.mat-toolbar.mat-primary {
  background: #fff;
  background: #575757;
  // color: mat-color($candy-app-primary);
  //background-color: none;
  //box-shadow: none;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  // height: 1px !important;
}

.mat-toolbar {


  box-shadow: none;
  // background: #8a9d42 !important;
  // background: #8BC34A !important;

  &:after {
    display: none;
    content: '';
    height: 280px;
    width: 4000px;
    position: absolute;
    bottom: -280px;
    z-index: -1;
    left: 0;
  }

}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}


// Dashboard

// edits
.mat-card {

  img {
    max-height: 160px;
    max-width: 160px;
  }
}



