<div fxLayout="column" fxLayoutAlign="center stretch" fxFlex>
  <app-header></app-header>
  <app-body fxFlex></app-body>
</div>

<!--<div class="content"-->
     <!--fxLayout="row"-->
     <!--fxLayout.xs="column"-->
     <!--fxFlexFill>-->

  <!--&lt;!&ndash; Flex 1 &ndash;&gt;-->
  <!--<div fxFlex="18" class="sec1" fxFlex.xs="55">-->
    <!--&lt;!&ndash;<nav mat-tab-nav-bar>&ndash;&gt;-->
      <!--&lt;!&ndash;<h3>Design System</h3>&ndash;&gt;-->
      <!--&lt;!&ndash;<ul>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="ng-star-inserted" *ngFor="let item of dsMenuItems">&ndash;&gt;-->
          <!--&lt;!&ndash;<a mat-tab-link&ndash;&gt;-->
             <!--&lt;!&ndash;[routerLink]="item.link"&ndash;&gt;-->
             <!--&lt;!&ndash;routerLinkActive #rla="routerLinkActive">&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;[active]="rla.isActive"&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;{{item.caption}}&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
      <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;</nav>&ndash;&gt;-->

  <!---->



  <!--</div>-->

  <!--&lt;!&ndash; Flex 2 &ndash;&gt;-->
  <!--<div fxFlex="82" class="sec2" style="background: #fff;">-->

  <!--</div>-->


<!--</div>-->

<!--<master-template></master-template>-->
<!--<pattern-lib></pattern-lib>-->
