<div class="content"
     fxLayout="row"
     fxLayout.xs="column"
     fxFlexFill>

  <!-- Flex 1 -->
  <div fxFlex="18" class="sec1" fxFlex.xs="55">
    <!--<nav mat-tab-nav-bar>-->
    <!--<h3>Design System</h3>-->
    <!--<ul>-->
    <!--<li class="ng-star-inserted" *ngFor="let item of dsMenuItems">-->
    <!--<a mat-tab-link-->
    <!--[routerLink]="item.link"-->
    <!--routerLinkActive #rla="routerLinkActive">-->
    <!--&lt;!&ndash;[active]="rla.isActive"&ndash;&gt;-->
    <!--&lt;!&ndash;&gt;&ndash;&gt;-->
    <!--{{item.caption}}-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</nav>-->

    <nav mat-tab-nav-bar>
      <h3>Design System</h3>
      <ul>
        <li class="ng-star-inserted" *ngFor="let item of dsMenuItems">
          <a mat-tab-link
             [routerLink]="['/ds', {
              outlets: {
                'dsList': ['speakersList'],
                 'dsPage': ['none']
                 }
                 }]"
             routerLinkActive #rla="routerLinkActive">
            <!--[active]="rla.isActive"-->
            <!--&gt;-->
            {{item.caption}}
          </a>
        </li>
      </ul>
    </nav>

    <router-outlet name="dsList"></router-outlet>
  </div>

  <!-- Flex 2 -->
  <div fxFlex="82" class="sec2" style="background: #fff;">
    <router-outlet name="dsPage"></router-outlet>

  </div>


</div>

<!--<master-template></master-template>-->
<pattern-lib></pattern-lib>
