@import "src/theme/theme-variables";
@import "src/theme/theme-mixins";

:host::ng-deep {
  header {

    h1 {

      @include h__h1--large-thin-white;

    }

    &.up__large {

      height: 280px;
      width: 100%;
      @include g__main--green;
      margin: 4.02em 0 0 0;
      padding: 1em 1.5em;

      ul {

        margin: 0;
        padding: 0;

        li {

          margin: .5em .4em;
          display: inline-block;

          a {

            color: $f--white;
            text-decoration: none;

          }

        }

      }

    }

    .mat-stepper-horizontal {

      background: none;
    }
    .mat-horizontal-stepper-header-container {

      .mat-step-icon {

        span {
          visibility: hidden;
        }

        color: #ffffff;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        align-items: center;
        justify-content: center;
        display: flex;

      }

      mat-step-header {

        .mat-step-icon-not-touched {

          span {
            visibility: hidden;
          }

        }

        &#cdk-step-label-0-0 {

          .mat-step-icon,
          .mat-step-icon-not-touched {
            &:after {
              content: 'L';
              color: #fff;
              position: absolute;

            }
          }

          .mat-step-icon {

            background-color: #4eb2bf;

          }

          .mat-step-icon-not-touched {

            background-color: #999;

          }
        }

        &#cdk-step-label-0-1 {

          .mat-step-icon,
          .mat-step-icon-not-touched {
            &:after {
              content: 'E';
              color: #fff;
              position: absolute;

            }
          }

          .mat-step-icon {

            background-color: #83A340;

          }

          .mat-step-icon-not-touched {

            background-color: #999;

          }
        }

        &#cdk-step-label-0-2 {

          .mat-step-icon,
          .mat-step-icon-not-touched {
            &:after {
              content: 'A';
              color: #fff;
              position: absolute;

            }
          }

          .mat-step-icon {

            background-color: #e39a2e;

          }

          .mat-step-icon-not-touched {

            background-color: #999;

          }
        }

        &#cdk-step-label-0-3 {

          .mat-step-icon,
          .mat-step-icon-not-touched {
            &:after {
              content: 'F';
              color: #fff;
              position: absolute;

            }
          }

          .mat-step-icon {

            background-color: #B62E86;

          }

          .mat-step-icon-not-touched {

            background-color: #999;

          }
        }


      }


    }

    .mat-horizontal-content-container {
      margin: 32px 0 0 0;
    }
    mat-checkbox {

      //border: solid 1px #e9e9e9;

      .mat-checkbox-label {
        flex: 1 1;
        flex-grow: 1;
        box-sizing: border-box;
        place-content: center flex-start;
        align-items: center;
        flex-direction: row;
        display: flex;
        min-height: 4rem;
      }

      label {
        flex-grow: 1;

        padding-left: 1rem;
        -webkit-transition: background-color .4s ease-out;
        -moz-transition: background-color .4s ease-out;
        -o-transition: background-color .4s ease-out;
        transition: background-color .4s ease-out;


        &:hover {
          // background: #ABE0F3;
          color: $lb-green;
        }
      }



    }
  }

}

.dashboard-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.dashboard-fieldset {
  border: 0;
}

.dashboard-form-field {
  width: 100%;
}

.dashboard-button-bar {
  margin-left:15px;
}

// Testing Flexbox
.bounds {
  //background-color:#ddd;
  height :800px;
}

.sec1 {
  //background: red;
  color:grey;
  text-transform: uppercase
}

.sec2 {
  //background: yellow;
  color:grey;

}

.sec3 {
  //background: blue;
  color:grey;
  text-transform: uppercase
}

.sec1, .sec2, .sec3 {
  padding-top:20px;
  text-align:center
}

.content {
  min-width: 300px;
  /*height: 400px;*/
}




