<!--<mat-card>-->
  <!--<h1>Dashboard</h1>-->

<!--</mat-card>-->
<!--<div style="-->
    <!--border-radius: 6px;-->
    <!--overflow: hidden;-->
    <!--height: 200px;-->
    <!--width: 200px;-->
    <!--margin: 200px;-->
    <!--box-shadow: 7px 7px 16px 1px rgba(0,0,0,.3);-->
    <!--float:left;-->
<!--">-->
  <!--<img src="https://blog.hubspot.com/hs-fs/hubfs/Fancy_Crave.jpg?t=1513625148314&amp;width=671&amp;height=518&amp;name=Fancy_Crave.jpg">-->

<!--</div>-->
<!--<div style="-->
    <!--border-radius: 6px;-->
    <!--overflow: hidden;-->
    <!--height: 400px;-->
    <!--width: 400px;-->
    <!--margin: 100px 200px;-->
    <!--box-shadow: 7px 7px 16px 1px rgba(0,0,0,.3);-->
    <!--float:left;-->
<!--">-->
  <!--<img src="http://ghk.h-cdn.co/assets/17/45/480x719/gallery-1510170649-vegan-buffalo-cauliflower-tacos.jpg">-->

<!--</div>-->




<div class="bounds">

  <div class="content"
       fxLayout="row"
       fxLayout.xs="column"
       fxFlexFill >

    <div fxFlex="15" class="sec1" fxFlex.xs="55">
      first-section
    </div>
    <div fxFlex="30" class="sec2" >
      second-section
    </div>
    <div fxFlex="55" class="sec3" fxFlex.xs="15">
      third-section
    </div>

  </div>

</div>
