@import "src/theme/theme-variables";
@import "src/theme/theme-mixins";

:host::ng-deep {
  header {

    h1 {

      @include h__h1--large-thin-white;

    }

    @extend .body__header--big;

  }

}

.avatar {
  position: absolute;
  top: 111px;
  left: 309px;
  height: 80px;
  width: 80px;
  background: #b8b8b84a;
  border-radius: 100%;
  border: solid 1px rgba(255,255,255,.3);
}

.dashboard-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.dashboard-fieldset {
  border: 0;
}

.dashboard-form-field {
  width: 100%;
}

.dashboard-button-bar {
  margin-left:15px;
}

// Testing Flexbox
.bounds {
  //background-color:#ddd;
  height :800px;
}

.sec1 {
  //background: red;
  color:grey;
  text-transform: uppercase
}

.sec2 {
  //background: yellow;
  color:grey;

}

.sec3 {
  //background: blue;
  color:grey;
  text-transform: uppercase
}

.sec1, .sec2, .sec3 {
  padding-top:20px;
  text-align:center
}

.content {
  min-width: 300px;
  /*height: 400px;*/
}




