<input type="checkbox" id="menu-toggle"/>
<label id="trigger" for="menu-toggle"></label>
<label id="burger" for="menu-toggle"></label>
<ul id="menu"></ul>



<div class="bounds">

  <div class="content"
       fxLayout="row"
       fxLayout.xs="column"
       fxFlexFill>

    <!--<section>-->
      <!--<img src="https://cdn.pixabay.com/photo/2017/10/15/16/21/iphone-2854327_960_720.png" alt="">-->
    <!--</section>-->


    <div fxFlex="100">
      <mat-card class="example-card" style="margin: 40px 120px;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mike Bowlin</mat-card-title>
          <mat-card-subtitle>UI/UX Dev</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./../../../../assets/avatar-sample.png" alt="Avatar Image">
        <mat-card-content>
          <p>
            Welcome, Mike.
          </p>
          <ul style="border: red solid;"  *ngIf="biometrics">
            <li>{{biometrics.age}}</li>
            <li>{{biometrics.gender}}</li>
            <li>{{biometrics.height}}</li>
            <li>{{biometrics.weight}}</li>
            <li>{{biometrics.cholesterol}}</li>
            <li>{{biometrics.bloodPressure}}</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openDialog()">Biometrics</button>
          <button mat-button>Profile</button>
        </mat-card-actions>
      </mat-card>
    </div>

     <!--Flex 1 -->
    <div fxFlex="100" class="sec2">
      <p></p>
      <p></p>
      <!--<div style="-->
<!--border-radius: 6px;-->
<!--overflow: hidden;-->
<!--height: 200px;-->
<!--width: 200px;-->
<!--margin: 200px;-->
<!--box-shadow: 7px 7px 16px 1px rgba(0,0,0,.3);-->
<!--float:left;-->
<!--">-->
        <!--<img-->
          <!--src="https://blog.hubspot.com/hs-fs/hubfs/Fancy_Crave.jpg?t=1513625148314&amp;width=671&amp;height=518&amp;name=Fancy_Crave.jpg">-->
      <!--</div>-->
    </div>


    <!--<div style="border: red solid;">-->
      <!--<dialog-overview-example></dialog-overview-example>-->
    <!--</div>-->





<!-- Working Biometrics Form -->
    <!--<div fxFlex="100">-->
      <!--<div>-->
        <!--<h1>Biometrics</h1>-->
        <!--<form class="biometrics-form" *ngIf="biometrics">-->
          <!--<fieldset class="biometrics-fieldset" [attr.disabled]="!editing?'':null">-->
            <!--<mat-form-field class="biometrics-form-field">-->
              <!--<input matInput name="age" placeholder="Age" autocomplete="off" type="number" [(ngModel)]="biometrics.age" autofocus>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field class="biometrics-form-field">-->
              <!--<mat-select name="gender" placeholder="Gender" [(ngModel)]="biometrics.gender" [disabled]="!editing?'':null">-->
                <!--<mat-option>None</mat-option>-->
                <!--<mat-option value="male">Male</mat-option>-->
                <!--<mat-option value="female">Female</mat-option>-->
                <!--<mat-option value="other">Other</mat-option>-->
              <!--</mat-select>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field class="biometrics-form-field">-->
              <!--<input matInput name="height" placeholder="Height" autocomplete="off" type="text" [(ngModel)]="biometrics.height">-->
            <!--</mat-form-field>-->
            <!--<mat-form-field class="biometrics-form-field">-->
              <!--<input matInput name="weight" placeholder="Weight" autocomplete="off" type="number" [(ngModel)]="biometrics.weight">-->
            <!--</mat-form-field>-->
            <!--<mat-form-field class="biometrics-form-field">-->
              <!--<input matInput name="cholesterol" placeholder="Cholesterol" autocomplete="off" type="number" [(ngModel)]="biometrics.cholesterol">-->
            <!--</mat-form-field>-->
            <!--<mat-form-field class="biometrics-form-field">-->
              <!--<input matInput name="bloodPressure" placeholder="Blood Pressure" autocomplete="off" [(ngModel)]="biometrics.bloodPressure">-->
            <!--</mat-form-field>-->
          <!--</fieldset>-->
        <!--</form>-->
        <!--<div class="biometrics-button-bar">-->
          <!--<button title="Edit" (click)="editBiometrics()" *ngIf="!editing">-->
            <!--<span class="material-icons">edit</span>-->
          <!--</button>-->
          <!--<button title="Save" (click)="saveBiometrics()" *ngIf="editing">-->
            <!--<span class="material-icons">done</span>-->
          <!--</button>-->
          <!--<button title="Cancel" (click)="cancelEdit()" *ngIf="editing">-->
            <!--<span class="material-icons">&#xe14c;</span>-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</div>
