<label id="trigger" for="menu-toggle"></label>
<label id="burger" for="menu-toggle"></label>
<ul id="menu"></ul>


<div class="bounds">

  <div class="content"
       fxLayout="row"
       fxLayout.xs="column"
       fxFlexFill>

    <div fxFlex="100">
      <mat-card class="example-card" style="margin: 155px 120px;background: #fff;border-radius: 20px;">
        <h1 style="position: absolute;top:-50px;color:#fff;">
          LIFESTYLE
        </h1>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mike Bowlin</mat-card-title>
          <mat-card-subtitle>UI/UX Dev</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./../../../../assets/avatar-sample.png" alt="Avatar Image">
        <mat-card-content>
          <p>
            Welcome, Mike.
          </p>
          <ul *ngIf="biometrics">
            <li>{{biometrics.age}}</li>
            <li>{{biometrics.gender}}</li>
            <li>{{biometrics.height}}</li>
            <li>{{biometrics.weight}}</li>
            <li>{{biometrics.cholesterol}}</li>
            <li>{{biometrics.bloodPressure}}</li>
          </ul>
          <hr>
          <div>
            <h1>Biometrics</h1>
            <form class="biometrics-form" *ngIf="biometrics">
              <fieldset class="biometrics-fieldset" [attr.disabled]="!editing?'':null">
                <mat-form-field class="biometrics-form-field">
                  <input matInput name="age" placeholder="Age" autocomplete="off" type="number"
                         [(ngModel)]="biometrics.age"
                         autofocus>
                </mat-form-field>
                <mat-form-field class="biometrics-form-field">
                  <mat-select name="gender" placeholder="Gender" [(ngModel)]="biometrics.gender"
                              [disabled]="!editing?'':null">
                    <mat-option>None</mat-option>
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                    <mat-option value="other">Other</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="biometrics-form-field">
                  <input matInput name="height" placeholder="Height" autocomplete="off" type="text"
                         [(ngModel)]="biometrics.height">
                </mat-form-field>
                <mat-form-field class="biometrics-form-field">
                  <input matInput name="weight" placeholder="Weight" autocomplete="off" type="number"
                         [(ngModel)]="biometrics.weight">
                </mat-form-field>
                <mat-form-field class="biometrics-form-field">
                  <input matInput name="cholesterol" placeholder="Cholesterol" autocomplete="off" type="number"
                         [(ngModel)]="biometrics.cholesterol">
                </mat-form-field>
                <mat-form-field class="biometrics-form-field">
                  <input matInput name="bloodPressure" placeholder="Blood Pressure" autocomplete="off"
                         [(ngModel)]="biometrics.bloodPressure">
                </mat-form-field>
              </fieldset>
            </form>
            <div class="biometrics-button-bar">
              <button title="Edit" (click)="editBiometrics()" *ngIf="!editing">
                <span class="material-icons">edit</span>
              </button>
              <button title="Save" (click)="saveBiometrics()" *ngIf="editing">
                <span class="material-icons">done</span>
              </button>
              <button title="Cancel" (click)="cancelEdit()" *ngIf="editing">
                <span class="material-icons">&#xe14c;</span>
              </button>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openDialog()">Biometrics</button>
          <button mat-button>Profile</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>










