<mat-card>
  <div>
    <h1>Sign in</h1>
    <button mat-button class="ls-sign-in-button" (click)="signInWithGoogle()">Google</button>
    <button mat-button class="ls-sign-in-button" (click)="signInWithFacebook()">Facebook</button>
    <!-- <button mat-button class="ls-sign-in-button" (click)="signInWithTwitter()">Twitter</button>
    <button mat-button class="ls-sign-in-button" (click)="signInAnonymously()">Anonymously</button>
    <button mat-button class="ls-sign-in-button" (click)="signInWithGithub()">GitHub</button> -->
  </div>
</mat-card>
